{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
    <a class="blog-nav-item " href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

{% else %}
    {# L'utilisateur n'est pas connecté ! #}
    <form class="nav_login" action="{{ path("fos_user_security_check") }}" method="post">
        <label>Login</label>
        <input type="text" name="_username" required="required" />

        <label>Password</label>
        <input type="password" name="_password" required="required" />

        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'Se souvenir'}}</label>

        <input type="submit" id="_submit" name="_submit" value="Connexion" />

    </form>

    <a class="blog-nav-item " href="{{ path('fos_user_registration_register') }}">Inscription</a>
{% endif %}

